/* import css reset file */
@import url("reset.css");

/* Global styles */

hr.divider {
  border: none;
  background-color: #575757;
  height: 1px;
  margin: 0;
}

hr.lighter-divider {
  background-color: rgb(197, 197, 197);
  border: none;
  height: 1px;
  margin: 0;
}

hr.heavy-divider {
  border: solid;
  border-color: rgb(197, 197, 197);
  border-top-width: 2px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-right-width: 0;
  height: 1px;
  margin: 0;
}

        header {
            margin-bottom: 20px;
        }

        .swiper {
            width: 100%;
            height: 400px;
            margin-top: 100px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 120%; /* Perluas ukuran gambar */
            height: 100%;
            object-fit: cover;
        }

        .container {
            margin: 90px auto;
        }

        .row {
            margin-bottom: 20px;
        }

        [class*="flex-"] {
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.28);
        }
    
a {
  color: rgb(15, 72, 124);
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

/* Main article section */
article {
  display: block;
  margin-top: 60px;
}

.container {
  width: 100%; /* Mengubah lebar ke 100% */
  margin: 0 auto;
  position: relative;
}

.body-container {
  margin: 0 auto;
  width: 100%; /* Mengubah lebar ke 70% */
  padding: 0;
}

#headline {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: bold;
  font-style: oblique;
  line-height: 45px;
  margin-bottom: 30px;
}

#cover {
  width: 100%;
  margin-bottom: 5px;
}

figure {
  margin-bottom: 50px;
}

figcaption {
  width: 70%;
  line-height: 20px;
  color: #303030;
}

.citation {
  display: inline;
  padding-left: 3px;
  font-size: 14px;
  color: #505050;
}

#author {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #1b1b1b;
}

#author a {
  color: #1b1b1b;
}

.sharing {
  margin: 25px auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-items: flex-end;
  align-items: center;
}

.sharing-button {
  border-radius: 50%;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  border: none;
  margin-left: 12px;
  background-color: #e7e7e7;
  outline: none;
}

.sharing-button:hover {
  background-color: white;
  border-style: solid;
  border-color: #b1b1b1;
  border-width: 1px;
  cursor: pointer;
}

#published {
  font-size: 14px;
  margin-right: auto;
}

/* Article Body */

article {
  margin-bottom: 50px;
}

#article-body {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 40px;
  color: rgb(51, 51, 51);
}

h3 {
  font-weight: bold;
  margin-bottom: 18px;
}

br {
  margin-bottom: 18px;
  content: "A" !important;
  display: block !important;
}

#article-note {
  font-size: 12px;
  line-height: 16px;
  margin: 20px auto;
}

#article-note a {
  color: #303030;
}

#comments-button {
  margin-right: auto;
}

#comments-button button {
  padding: 10px 100px;
  font-size: 12px;
}

/* Paywall Reminder */

.paywall {
  width: 200px;
  font-size: 14px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: center;
}

.paywall p {
  padding-bottom: 0 !important;
  color: rgb(20, 20, 20);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: bold;
}

.paywall div {
  margin: 18px 0;
}

.paywall a {
  color: rgb(15, 72, 124);
  text-decoration: none;
}

.paywall hr {
  width: 75px;
  background-color: rgb(167, 167, 167);
  margin: 10px auto;
}

/* Additional Content */
#additional-content {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 30px;
}

#additional-content aside {
  width: 26%;
  margin-left: 35px;
  box-sizing: border-box;
}

#additional-content h4 {
  font-size: 14px;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 20px 0;
}

#additional-content h4 a {
  color: black;
  text-decoration: none;
}

#additional-content h4 a:hover {
  text-decoration: underline;
}

/* Preview/Recommended Articles */
#secondary {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

.more div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

/* Smaller Preview Articles */

.article-preview {
  max-width: 270px;
}

.article-preview img {
  width: 100%;
}

.preview-credit {
  height: 18px;
  font-size: 10px;
  line-height: 18px;
  text-align: right;
  color: #8a8a8a;
}

.preview-title {
  font-size: 18px;
  line-height: 20px;
}

.preview-date {
  font-size: 13px;
  line-height: 15px;
  color: #757575;
}

/* Aside: Most Popular Articles */
#popular p {
  font-size: 19px;
  line-height: 25px;
  padding: 15px 0;
}

/* Preview Article Links */

#popular a {
  color: black;
  text-decoration: none;
}

#popular a:hover {
  color: rgb(53, 53, 53);
}





#categories {
  display: flex;
  flex-flow: row nowrap;
  width: 80%;
}

.category-links {
  display: flex;
  flex-flow: column nowrap;
  width: 20%;
  box-sizing: border-box;
}
.category-links p {
  font-weight: bold;
  line-height: 24px;
}

.category-links li {
  font-size: 13px;
  line-height: 20px;
}

#aside-content {
  width: 30%;
  margin-left: 30px;
  box-sizing: border-box;
}

.sidebar-container {
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.sidebar-container img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

figcaption {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  line-height: 1.5;
}

.citation {
  display: block;
  font-size: 14px;
  color: #505050;
}



/* Aside
