*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
footer{
  background-color:#091430;
  border-radius: 3%;
}
.footerContainer{
   width: 100%;
   padding: 65px 30px 20px;

}
.socialIcons{
  display: flex;
  justify-content: center;

}
.socialIcons a{
  text-decoration: none;
  padding: 8px;
  background-color: white;
  margin: 8px;
  border-radius: 50%;
}
.socialIcons a i{
  font-size: 2em;
  color: #091430;
  opacity: 0.9;
}
.socialIcons a:hover{
  background-color: #091430;
  transition: 0.5s;
}
.socialIcons a:hover i{
  color: white;
  transition: 0.5s;
}
.footerNav{
  margin: 20px 0;
}
.footerNav ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a{
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size:1.3em ;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover{
  opacity: 1;
}
.bottom-bar{
  background-color: #091430;
  padding: 20px;
  text-align: center;
}
.bottom-bar p{
  color: white;
}
.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

@media (max-width: 700px){
  .footerNav ul{
      flex-direction: column;

  }
  .footerNav ul li{
      width: 60%;
      text-align: center;
      margin: 10px;

  }
}

